[submodule "evmc"]
	path = evmc
	url = https://github.com/ethereum/evmc
[submodule "evm-benchmarks"]
	path = test/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks

///

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# GraphQL
schema.graphql
persisted_queries.json
**/*.graphql.ts# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# GraphQL
schema.graphql
persisted_queries.json
**/*.graphql.ts# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# GraphQL
schema.graphql
persisted_queries.json
**/*.graphql.ts
